# Visualizing Datasets Using Heatmaps

## Setup and Data Cleaning

You can expand this group to see how the dataframe gets set up.

In [115]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [157]:
pokedex = pd.read_csv('https://raw.githubusercontent.com/lgreski/pokemonData/master/Pokemon.csv', index_col=[0, 1])
pokedex.head()

,,Form,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
ID,Name,,,,,,,,,,,
1,Bulbasaur,,Grass,Poison,318,45,49,49,65,65,45,1
2,Ivysaur,,Grass,Poison,405,60,62,63,80,80,60,1
3,Venusaur,,Grass,Poison,525,80,82,83,100,100,80,1
4,Charmander,,Fire,,309,39,52,43,60,50,65,1
5,Charmeleon,,Fire,,405,58,64,58,80,65,80,1

In [159]:
# Rename Type1 and Type2 to Type 1 and Type 2
pokedex.rename(columns={'Type1': 'Type 1', 'Type2': 'Type 2'}, inplace=True)
pokedex.head()

,,Form,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
ID,Name,,,,,,,,,,,
1,Bulbasaur,,Grass,Poison,318,45,49,49,65,65,45,1
2,Ivysaur,,Grass,Poison,405,60,62,63,80,80,60,1
3,Venusaur,,Grass,Poison,525,80,82,83,100,100,80,1
4,Charmander,,Fire,,309,39,52,43,60,50,65,1
5,Charmeleon,,Fire,,405,58,64,58,80,65,80,1

In [161]:
# Use regex to replace blank spaces with NaN
pokedex.replace(r'^\s*$', np.nan, regex=True, inplace=True)
pokedex.head()

,,Form,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
ID,Name,,,,,,,,,,,
1,Bulbasaur,NaN,Grass,Poison,318,45,49,49,65,65,45,1
2,Ivysaur,NaN,Grass,Poison,405,60,62,63,80,80,60,1
3,Venusaur,NaN,Grass,Poison,525,80,82,83,100,100,80,1
4,Charmander,NaN,Fire,NaN,309,39,52,43,60,50,65,1
5,Charmeleon,NaN,Fire,NaN,405,58,64,58,80,65,80,1

## Assignment

You're given a dataframe, `pokedex` that has been cleaned for you. Use `.head()`, `.info()`, and `.describe()` to get a feel for the data below:

How is the *index* of this Dataframe different from previous ones we've worked with? (If you can't tell from the previous cell's output, inspect the code loading the Pokemon data at the beginning of the notebook)

### Augmenting the Dataframe

For each *combat* stat, (HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed), create an appropriately named *categorical* column labeling that statistic by *quintile*; i.e. 'low', 'mid low', 'mid', 'mid high', 'high'.

In [167]:
# List of columns for combat stat questions
combat_cols = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

### Pivot Tables:

Create a pivot table called `mean_stats_by_gen` that shows the mean value of each *combat stat* broken down by generation.

Create a pivot table called `best_stats_by_type` that shows the maximum value of each combat stat broken down by `Type 1`

Create a pivot table called `type_distribution` that shows the number of Pokemon having each combination of `Type 1` and `Type 2`. All `NaN` values should be replaced with `0`.

Create a pivot table called `hp_speed_distribution` that shows the number of Pokemon having each combination of HP and Speed quintile. *e.g.* 'low' HP and 'low' Speed

### Heatmaps:

Use the pivot tables you created in the previous section to generate heatmaps. Make sure each heatmap has annotations turned on and has axes that are ordered appropriately!

Generate a heatmap showing the number of Pokemon with each type combination.

Generate a heatmap showing the distribution of HP vs Speed quintiles.

### Correlation Matrix

Create a correlation matrix for the combat stats in the dataframe.

Which stats are most strongly correlated?