In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

# seeding to ensure everyone has the same data
np.random.seed(1)

In [7]:
# Creating a random dataframe. 
# column a is normally distributed about a mean of 50 with an sd of 15
# column b is uniformly distributed on the interval [0, 100]

random_data = pd.DataFrame({'a': np.random.normal(50, 15, 100), 'b': np.random.randint(0, 100, 100)})
random_data.head()

           a   b
0  74.365180  33
1  40.823654   2
2  42.077424  84
3  33.905471  83
4  62.981114  48

In [8]:
random_data.describe()

                a           b
count  100.000000  100.000000
mean    50.908743   49.270000
std     13.344232   27.901289
min     15.476920    0.000000
25%     40.792737   25.750000
50%     50.961109   47.500000
75%     59.561155   74.750000
max     82.783631   99.000000

In [9]:
random_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       100 non-null    float64
 1   b       100 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB